@import "~include-media/dist/include-media";
@import "~open-color/open-color";

//변수사용
$red: #fa5252;
$orange: #fd7e14;
$yellow: #fcc419;
$green: #40c057;
$blue: #339af0;
$indigo: #5c7cfa;
$violet: #7950f2;

//믹스 만들기
@mixin square($size) {
  $calculated: 50px * $size;
  width: $calculated;
  height: $calculated;
}
